@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

:root {
  --heading-font: 'Playfair Display', weight 600;
  --paragraph-font: 'Playfair Display', serif;
}

.logo {
  display: flex;
  justify-content: center;
  width: 150px;
}

.ref-img {
    width: 50em;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

  nav {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-self: left;
    
}

  header {
    background-color:#c2c1a5;
    display: grid;
    grid-template-columns: 150px auto;
}