@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

:root {
    --heading-font: "Oswald";
    --paragraph-font: 'Oswald', sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    color: #554640;
    text-align: center;
    padding: 35px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #554640;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    font-size: 22px;
}

header {
    background-color:#8DA7BE;
}

nav a:hover {
    background-color: #197DC2
}

.book {
    color: #d9c2a3;
    background-color: #197DC2;
    font-family: var(--heading-font);
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;

}

.join {
    color: #554640;
    background-color: #d9c2a3;
    font-family: var(--heading-font);
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover {
    color:#554640;
    background-color: #E1CA96;
}

.join:hover {
    color:#E1CA96;
    background-color: #554640 ;
}

#background {
    background-color: #E1CA96 ;
}

.msg {
    background-color: #197DC2;
    padding: 35px;
    line-height: 1.5em;
}

footer {
    color: #8DA7BE;
    background-color: #554640;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}

.social img {
    padding-top: 15px;
}

footer a {
    color: #E1CA96;
    background-color: #554640;
}

footer a:hover{
    color: #554640;
    background-color: #E1CA96;
}

.home-title {
    color: #E1CA96;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#E1CA96;
}

.msg h2 {
    color:#E1CA96;
}

.msg p {
    color:#554640;
    font-family: var(--heading-font);
    padding-bottom: 15px;
    font-size: 16px;
}

#hero-img {
    width: 100%;
}

.logo {
    width: 80px;
    padding-top: 10px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #d9c2a3;
}

h2 {
    margin: 0;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}